<!DOCTYPE html>
<html>
    {% include ['head.html'] %}
    <body>
        
        {% include ['navbar.html'] %}
        {% include ['addContactModal.html'] %}
        {% include ['confirmModal.html'] %}
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <center><h3>Contact List</h3></center>
                </div>
            </div>
            <div class="row">
                <div class="col-sm" style="margin-top:5%">
                    <table id="contactTable" class="table">
                        <tr>
                            <th><b>Name</b></th>
                            <th><b>Company</b></th>
                            <th><b>Job Title</b></th>
                            <th><b>Phones</b></th>
                            <th><b>Email</b></th>
                            <td><input id="searchContact" onkeyup="searchFunction()" type="input" placeholder="Search for contacts.."></td>
                        </tr>
                        {% for cl in contList %}
                        <tr>
                            <TD class="name">{{cl.fName}} {{cl.mName}} {{cl.lName}}</TD>
                            <TD>{{cl.workCompany}}</TD>
                            <TD>{{cl.jobTitle}}</TD>
                            <TD>
                                <b>Mobile:</b>{{cl.mobile}}<br>
                                <b>Work:</b>{{cl.workPhone}}<br>
                                <b>Home:</b>{{cl.homePhone}}
                            </TD>
                            <TD>{{cl.email}}</TD>
                            <TD class="action-buttons">
                                <a class="btn btn-info" href="{{url_for('showContact', conid=cl.contactID)}}">Show</a>
                                <button class="delete-contact-button btn btn-danger" data-fname={{cl.fName}} data-lname={{cl.lName}} data-id={{cl.contactID}} data-bs-toggle="modal" data-bs-target="#confirmModal">Delete</button>
                            </TD>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    </body>
</html>
