<!DOCTYPE html>
<html>
    {% include ['head.html'] %}
    <body>
        {% include ['navbar.html'] %}
        {% include ['confirmModal.html'] %}
        {% include ['editModal.html'] %}
        <div class="container showContactContainer">
            <div class="row">
                <div class="col-12">
                    <a class="btn" href="{{ url_for('index') }}">< Go Back</a>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="profile-img">
                        {% if cont.imageURL %}
                            <img height="250" src="{{ url_for('static', filename=cont.imageURL) }}">
                        {% else %}
                            <img height="250" src="{{url_for('static', filename='img/profilePictures/default.jpg')}}">
                        {% endif %}
                    </div>
                </div>
                <div class="col-6">
                    <h3>{{ cont.fName }} {{ cont.lName }}</h3><br>
                    <p class="contact-email"><strong>Email Address:</strong> <span>{{ cont.email }}</span></p>
                    <p class="contact-phone"><strong>Phone Number:</strong> <span>{{ cont.mobile }}</span></p>
                </div>
                <div class="col-1">
                    <button class="edit-contact-button btn btn-light" 
                        data-id={{cont.contactID}} 
                        data-fname={{cont.fName}} 
                        data-mname={{cont.mName}} 
                        data-lname={{cont.lName}} 
                        data-workCompany={{cont.workCompany}} 
                        data-mobile={{cont.mobile}} 
                        data-homePhone={{cont.homePhone}} 
                        data-workPhone={{cont.workPhone}} 
                        data-email={{cont.email}} 
                        data-jobTitle={{cont.jobTitle}} 
                        data-imageURL={{cont.imageURL}} 
                        data-bs-toggle="modal" 
                        data-bs-target="#editModal">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                    <button class="delete-contact-button btn btn-danger" 
                        data-fname={{cont.fName}} 
                        data-lname={{cont.lName}} 
                        data-id={{cont.contactID}} 
                        data-bs-toggle="modal" 
                        data-bs-target="#confirmModal">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    </body>
</html>
